Importing Data

In [19]:
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt

dataset = pd.read_csv("Fire_Zones.csv")
dataset.sample(5)

,FID,area,perimeter,firezones_,firezones_id,dist_zone,olddist_zone,mapbook,pagerotate,firezones,SHAPE_Length,SHAPE_Area
7,8,29172082.0,21064.648438,8.0,6.0,3-9,3-9,3-9,90.0,NaN,0.066528,0.000279
64,65,30181938.0,37477.136719,73.0,69.0,4-25,4-14,4-25,90.0,25,0.117507,0.000327
99,100,79547528.0,49542.351562,24.0,19.0,1-27,1-16,1-27,NaN,27,0.053320,0.000047
60,61,9459680.0,13612.666992,68.0,113.0,Mt Oliver,,NaN,90.0,NaN,0.041842,0.000093
98,99,7455709.5,14743.934570,50.0,39.0,1-4,1-1,1-4,NaN,4,0.035141,0.000060

Neighborhoods